@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click here to check out our <a asp-controller="Forum" asp-action="Browser" asp-route-id="Forum">forum</a> section!.</p>
</div>
