
@model ForumPostModel
@{
    ViewData["Title"] = "WritePost";
}

<h1>Response</h1>
<form asp-action="WritePost" method="post" style="background-color:lightgray">
    <div class="container">
        <div class="row p-3 m-2">

            <div>
                <label asp-for="Username">Username: </label>
                @Html.TextBoxFor(m => m.Username,
            new { @class = "form-control", required = "required" })
            </div>

            <div>
                <label asp-for="Title">Title: </label>
                @Html.TextBoxFor(m => m.Title,
            new { @class = "form-control", required = "required", @style = "width:300px;" })
            </div>

            <div>
                <div class="m-3">
                    <br /> 
                    <label asp-for="Message">Message: </label><br />
                    @Html.TextAreaFor(m => m.Message,
            new { @class = "form-control", required = "required",
            @cols = "100", @rows = "8", @style = "width:100%;" })
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-primary btn-md" style="text-align:center">Submit</button>
    </div>
    
</form>
